/node_modules
/public/storage
/public/*.js
/public/*.js.map
/public/js
/public/css
/storage/*.key
/resources/fomantic/dist
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
